$black: #000;
$white: #fff;
$gray: #a8a8a8d0;

// paddings
$mobile-padding-x: 1.5rem;
$tablet-padding-x: 4.2rem;
$desktop-padding-x: 6rem;

// outline
$outline: #485461;

// screens
$xs: 280px;
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1540px;
$xxl: 1920px;
